body{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

/* custom classes */
.my-contain{
    padding:7% 15%; 
}
.theme-1{
    color:#fff;
    background-color:#ff4c68;
}
.theme-2{
    background-color: #ef8172;
    color:#fff;
}
.my-font{
   font-family: 'Montserrat-Black', sans-serif;
   line-height:1.5;
}

/* title section */
.head{
    font-size:3rem;
    font-weight: bolder ;
    text-align: left;
}
.container-fluid{
    padding:3% 15% 9.2%;
}  

/* navbar */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight: bold;
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
padding:0% 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family:'Montserrat-light'
}

/* download buttons */
.download-buttons{
    margin:5% 3% 5% 0;
}

/* title-image */
.phone-image{
    width:60%;
    transform: rotate(25deg);
    position:absolute;
    right:30%;
}

/* features */
#features{
   position: relative;
    z-index: 1;
  background-color:#fff;
}
#features i{
    color:#ef8172;
    padding-bottom: 10px;
}
#features h3{
    font-size:1.2rem;
    font-weight:bold;
}
#features p{
    opacity:0.7;
}
 #ho:hover{
     color:#ff4c68;
 }
 
 /* testimonials */
#testimonials h2{
    font-weight: bold ;
    font-size:3rem;
  }
.testimonial-image{
    width: 10%;
    border-radius:100%;
    margin:20px;
}

/* press */
#press{
padding-bottom:3%;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}

/* pricing */
#pricing{
    font-family: 'Montserrat', sans-serif;
    padding:100px;
}
#pricing h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.pricing-column{
    padding:3% 2%;
} 

/* call for action */
#cta h3{
    font-size:3.5rem;
   line-height: 1.5;
}

/* footer */
#f-para{
    color:grey;
}
.social-media{
    margin:20px;
}
#footer a:link,a:visited{
    color:black;
}
#footer .fa-twitter:hover{
    color:rgb(44, 130, 228);
}
#footer .fa-facebook-f:hover{
    color:rgb(31, 82, 141);
}
#footer .fa-instagram:hover{
    color:rgb(214, 60, 40);
}
#footer .fa-envelope:hover{
    color:rgb(219, 164, 44);
}
#footer p a {
    color:#007bff;
}
#footer p a:hover{
    color:rgb(85, 161, 8);
}

/* media 'responsive' */
@media (max-width:991px){
    #title{
        text-align: center;
    }
    .phone-image{
    position:static;
    transform: rotate(0);
    }
}

/* other resouces */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */



